.card {
  border: 2px solid pink;
  padding: 10px;
}

.card-photo {
  width: 200px;
  height: 200px;
}

.game-cardDisplay {
  display: grid;
  grid-template-columns: auto auto auto;
}

.card-onHover {
  background: cornsilk;
}